SECRET_KEY=django_secret_key

STEAM_API_KEY=your_steam_key_api

DISCORD_CLIENT_ID=client_id
DISCORD_SECRET_ID=secret_id
DISCORD_CALLBACK_URL=callback_url
DISCORD_TOKEN_URL=token_url
DISCORD_INFO_URL=info_url
DISCORD_OAUTH2_URL=oauth2_url
BOT_TOKEN=yout_bot_token

AI_API_KEY=your_ai_key

RESEND_API_KEY=re_your_key

EMAIL_HOST_USER=your_host_email
EMAIL_HOST_PASSWORD=host_password